@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
html {
  height: 100%;
}
.body-css {
  background-color: #feffe0; /*yellow-ish*/
}
.header-nav nav {
  background-color: #e8e2e2b2; /*grey-ish*/
}
nav {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}
.form-control:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
  background-color: rgba(188, 206, 251, 0.5);
}
.loan{
  margin-top: 100px;

}
/*WELCOME MESSAGE CONTAINER*/
.welcomeIndex {
  color: #000000;
  font-size: xx-large;
  margin-top: 100px;
}
/*TRANSFERS*/
.whole-container {
  margin-top: 100px;
  margin-left: 100px;
}
.div-pablo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  border: 1px;
  border-color: black;
  border-style: solid;
  align-items: center;
  margin-bottom: 50px;
  background-color: #dfdadab2;
}
.div-laura,
.div-laurita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  border: 1px;
  border-color: black;
  border-style: solid;
  align-items: center;
  background-color: #dfdadab2;
}
.resume-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1;
  border: 2px;
  border-color: black;
  border-style: dotted;
  align-items: center;
  width: fit-content;
}
h6 {
  font-size: 17px;
}
/*REGISTER FORM*/
.welcome-index-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.body-wrapper {
  display: flex;
  justify-content: center;
}
/*FRONTEND*/
.saldo-container {
  display: flex;
  width: fit-content;
  margin-top: 35px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}
.quick-access-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
.row-col {
  width: 200px;
}
.field {
  margin-bottom: 5px;
}
.field-button {
  border-radius: 0;
}
.btn-transfer {
  width: 100%;
  padding: 0;
  border: none;
  background: none;
}
.transfer-img {
  margin-left: 0%;
  width: 30px;
}
#resume,
#resume-pf,
#resumeLaura {
  display: none;
}
.img-logo-small {
  width: 50px;
}
.offcanvas-title {
  font-family: "Libre Baskerville";
}
.h2-register {
  text-transform: uppercase;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.p-register {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
.whole-container-register {
  border: #999595;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 20px;
}
#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}
.form-card {
  text-align: left;
}
#msform fieldset:not(:first-of-type) {
  display: none;
}
#msform input,
#msform textarea {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  background-color: #eceff1;
  font-size: 16px;
  letter-spacing: 1px;
}
#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #673ab7;
  outline-width: 0;
}
#msform .action-button {
  width: 100px;
  background-color: rgba(236, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
}
#msform .action-button:hover,
#msform .action-button:focus {
  background: #ec0000;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
}
#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}
#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000;
}
.card {
  z-index: 0;
  border: none;
  position: relative;
}
.fs-title {
  font-size: 25px;
  color: #000000;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}
.fieldlabels {
  color: rgb(0, 0, 0);
  text-align: left;
}
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
  display: flex;
  justify-content: center;
}
#progressbar .active {
  color: #000000;
}
#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  font-weight: 400;
}
#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f13e";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007";
}
#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}
#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}
#progressbar li.active:before,
#progressbar li.active:after {
  background: #673ab7;
}
.progress {
  height: 20px;
}

.progress-bar {
  background-color: #673ab7;
}
.fit-image {
  width: 100%;
  object-fit: cover;
}
.column {
  margin-top: 100px;
  border: #000000;
  border-style: solid;
}
.table-wrapper-scroll-y {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}.loan-body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-container {
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider-button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.slider-menu {
  display: none;
  background-color: #f9f9f9;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loan-ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  gap:10px;
}
.loan-btn{
  width: 100px;
}
.loan-btn:hover{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
}
.loan-h6{
text-align:center;
}
th[data-bs-toggle="tooltip"],
td[data-bs-toggle="tooltip"],
button[data-bs-toggle="tooltip"] {
    cursor: pointer;
}.form-form{
  margin-top: 150px;
  
}